body {
	font-family: 'Arvo', serif;
	text-align: center;
	width: 960px;
}

h1 {
	color: #6666FF;
}

img {
	max-height: 300px;
}

table {
	width: 75%;
	text-align: center;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

#words {
	text-align: left;
}

#wrong {
	color: red;
}